# EmailJS Configuration (Direct from Frontend)
# Visit https://www.emailjs.com/ to get these keys
VITE_EMAILJS_SERVICE_ID=service_4jmdpjk
VITE_EMAILJS_TEMPLATE_ID=template_8q1laec
VITE_EMAILJS_PUBLIC_KEY=cKTbuKI3xG3e6-tdF
